*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1,h2,h3{
    color:rgb(43, 226, 98); 
    background-color: rgb(219, 221, 214);
}
#first{
    background-color:rgb(194, 189, 189); 
    color:aliceblue;
}
.odd{
    background-color:rgb(255, 166, 0); 
    color:black;
}
ul>li{
    color: plum;
}
a[href = "https://google.com"]
{
 color: rgb(255, 47, 64)  ;
 font-size: larger;
}